<!doctype html>
<html lang="en" ng-app>

    <head>
        <title>Company Stats</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
        <style>
            body {
                padding-top: 60px;
            }
        </style>
        <script>
            function StatsController($scope) {
                var socket = io.connect();

                $scope.messages = [];
                $scope.roster = [];
                $scope.name = '';
                $scope.companyname = '';
                $scope.text = '';
                $scope.companies = [];
                // $scope.roster = [];
                $scope.currentuser = '';
                $scope.twitter = '';

                socket.on('connect', function() {
                    $scope.setName();
                    $scope.setUser();
                });

                socket.on('message', function(msg) {
                    $scope.messages.push(msg);
                    $scope.$apply();
                });

                // socket.on('compmessage', function(comp) {
                //     $scope.companies.push(comp);
                //     $scope.$apply();
                // });

                socket.on('roster', function(names) {
                    $scope.roster = names;
                    $scope.$apply();
                });

                $scope.delete = function(idx) {
                    var comp_to_delete = $scope.companies[idx];
                    $scope.companies.splice(idx, 1);
                    //TODO need more deletion from DB
                };

                $scope.send = function send() {
                    console.log('Sending message:', $scope.text);
                    socket.emit('message', $scope.text);
                    $scope.text = '';
                };

                $scope.sendComp = function sendComp() {
                    console.log('Sending Comp message:', $scope.twitter);
                    var comp = {
                        "UID": _.uniqueId("comp"),
                        "companyname": $scope.companyname,
                        "twitter": $scope.twitter,
                        "agent": $scope.currentuser
                    };
                    $scope.companies.push(comp);
                    socket.emit('compmessage', comp);
                    //$scope.twitter = '';
                };

                $scope.setName = function setName() {
                    socket.emit('identify', $scope.name);
                }
                $scope.setUser = function setSetUser() {
                    socket.emit('identify', $scope.currentuser);
                }

                ;
            }
        </script>
    </head>

    <body>
        <div class="container" ng-controller="StatsController">
            <!--<div class="navbar navbar-fixed-top navbar-inverse">-->
            <!-- <div class="navbar-inner">-->
            <!-- <div class="pull-right">-->
            <!-- <a href="https://c9.io" class="brand">Cloud9 IDE</a> -->
            <!-- <ul>-->
            <!-- <li>1</li>-->
            <!-- <li>2</li>-->
            <!-- <li>3</li>-->
            <!-- </ul>-->
            <!-- </div>-->
            <!-- </div>-->
            <!--</div>-->
            <div class="page-header">
                <h1>Company Entry</h1>
                <input type="email" class="span3" ng-model="currentuser"
                placeholder="yourname@example.com" ng-change="setUser()">
            </div>
            <div class="row">
                <div class="span4">
                    <ul class="nav nav-list well">
                        <li class="nav-header">Registered Companies</li>
                        <li class="nav-header"></li>
                        <li ng-repeat="user in roster" ng-bind="user"></li>
                    </ul>
                </div>
            </div>
            <div></div>
            <div class="row">
                <!-- <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th class="span2">Company Name</th>
                    <th class="span7">URL to report</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="msg in messages">
                    <td class="span2" ng-bind="msg.name"></td>
                    <td class="span7" ng-bind="msg.text"></td>
                  </tr>
                </tbody>

              </table> -->
                <table class="span9 table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="span2">Company Name</th>
                            <th class="span4">URL to report</th>
                            <th class="span1">Agent</th>
                            <th class="span1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="comp in companies">
                            <td hidden ng-bind="comp.UID"></td>
                            <td class="span2" ng-bind="comp.companyname"></td>
                            <td class="span4" ng-bind="comp.twitter"></td>
                            <td class="span1" ng-bind="comp.agent"></td>
                            <td class="span1" nowrap=nowarp>
                                <a href="#!/edit"><i class="icon-edit"></i></a>
                                <button ng-click="delete($index)">
                                    <i class="icon-minus-sign"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- <div class="row controls">
                            <form ng-submit="send()">
                              <div class="span2"><input type="text" class="input-block-level" ng-model="name" ng-change="setName()" placeholder="Company Name"></div>
                              <div class="input-append span7">
                                <input type="text" class="span6" ng-model="text" placeholder="Enter Twitter URL">

                                <input type="submit" class="span1 btn btn-primary" value="Submit" ng-disabled="!text">
                              </div>
                            </form>
                          </div> -->
                <div class="span9 controls">
                    <form ng-submit="sendComp()">
                        <div class="span2">
                            <input type="text" class="input-block-level" ng-model="companyname" placeholder="Company Name">
                        </div>
                        <div class="input-append span6">
                            <input type="url" class="" ng-model="twitter" placeholder="Enter Twitter URL">
                            <input type="text" class="" ng-model="currentuser" placeholder="Email"
                            ng-change="setUser()">
                            <input type="submit" class="btn btn-primary" value="Enter" ng-disabled="!companyname">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    </body>

</html>
